---

---
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
<footer class="text-sm leading-[1.75] mt-4">
  <div>
    Hecho con mucho <i class="fas fa-heart"></i> para Lau, por Tomás.
  </div>
</footer>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fas {
    color: rgb(214, 68, 68);
  }

</style>
