---
---

<section class="mb-8">
    <div class="mb-6">
        <h2
          class="text-center font-bold text-text-heading text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
        >
          ¿Quiénes somos?
        </h2>
        <hr class="border-t-12 border-transparent">
        <div class="md:flex md:items-center">
            <div class="w-full md:w-3/5 md:mr-6">
              <p class="text-left text-text-paragraph text-lg md:text-xl">
                Somos una pareja de estudiantes de la Universidad Nacional de Colombia con el propósito de documentar
                parte de nuestros conocimientos académicos y personales en un blog.
              </p>
              <img src="content/images/home-image-1.png" alt="Imagen de Tomás y Lau para mobile" class="block md:hidden my-4">
              <hr class="border-t-12 border-transparent">
              <p class="text-left text-text-paragraph text-lg md:text-xl">
                Nuestro objetivo es compartir
                este conocimiento de una manera sencilla y digerible para cualquier persona {"<3"}.
              </p>
            </div>
            <img src="content/images/home-image-1.png" alt="Imagen de Tomás y Lau para desktop" class="hidden md:block w-2/5">
          </div>
    </div>

</section>